@import "../colors";

button, .button {
  font: inherit;
  transition: 0.2s;
  border-radius: 0.2rem;
  border: none;
  background: $button-background-color;
  color: $button-text-color;
  box-shadow: rgba($color-primary, 0.16) 0px 0px 0px 1px,
    rgba($color-primary, 0.12) 0px 1px 1px 0px, rgba($color-primary, 0.12) 0px 2px 5px 0px;
  &:hover, &.button--state-hover {
    box-shadow: rgba($color-primary, 0.2) 0px 0px 0px 1px,
      rgba($color-primary, 0.2) 0px 1px 1px 0px, rgba($color-primary, 0.2) 0px 2px 5px 0px;
  }
  &:focus, &:active,
  &.button--state-focus, &.button--state-active {
    box-shadow: rgba($color-primary, 0.46) 0px 0px 0px 1px,
      rgba($color-primary, 0.42) 0px 1px 1px 0px,
      rgba($color-primary, 0.42) 0px 2px 5px 0px, 0 0 0 3px rgba($color-primary, 0.25);
  }
  &.button--state-cta,
  &.button--color-primary {
    background: $color-primary !important;
    color: $color-white !important;
  }
  line-height: 1;
  text-decoration: none;
  display: inline-block;
  padding: 0.75rem 1rem;
  outline: none;
  &:hover {
    text-decoration: none;
  }
  &[disabled] {
    opacity: 0.5;
    background-color: $button-disabled-background-color;
  }
  span + .icon {
    margin-left: 0.5rem;
  }
}
.button--type-list {
  margin: 0 0 1rem 0;
  + .button--type-list {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  &:last-of-type {
    margin-bottom: 0;
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.button--size-large {
  font-size: 120%;
  padding: 1rem 1.25rem;
}
.button--size-small {
  font-size: 85%;
  padding: 0.3rem 0.5rem;
}
.button--width-full {
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.button.button--color-danger {
  background: rgba($color-red, 0.01) !important;
  color: $color-red !important;
  box-shadow: rgba($color-red, 0.16) 0px 0px 0px 1px,
    rgba($color-red, 0.12) 0px 1px 1px 0px, rgba($color-red, 0.12) 0px 2px 5px 0px;
  &:hover, &.button--state-hover {
    box-shadow: rgba($color-red, 0.2) 0px 0px 0px 2px,
      rgba($color-red, 0.2) 0px 2px 1px 0px, rgba($color-red, 0.2) 0px 2px 5px 0px;
  }
  &:focus, &:active,
  &.button--state-focus, &.button--state-active {
    box-shadow: rgba($color-red, 0.46) 0px 0px 0px 1px,
      rgba($color-red, 0.42) 0px 1px 1px 0px,
      rgba($color-red, 0.42) 0px 2px 5px 0px, 0 0 0 3px rgba($color-red, 0.25);
  }
  &.button--state-cta {
    background: $color-red !important;
    color: $color-white !important;
  }
}
.button.button--color-success {
  background: rgba($color-green, 0.01) !important;
  color: $color-green !important;
  box-shadow: rgba($color-green, 0.16) 0px 0px 0px 1px,
    rgba($color-green, 0.12) 0px 1px 1px 0px, rgba($color-green, 0.12) 0px 2px 5px 0px;
  &:hover, &.button--state-hover {
    box-shadow: rgba($color-green, 0.2) 0px 0px 0px 2px,
      rgba($color-green, 0.2) 0px 2px 1px 0px, rgba($color-green, 0.2) 0px 2px 5px 0px;
  }
  &:focus, &:active,
  &.button--state-focus, &.button--state-active {
    box-shadow: rgba($color-green, 0.46) 0px 0px 0px 1px,
      rgba($color-green, 0.42) 0px 1px 1px 0px,
      rgba($color-green, 0.42) 0px 2px 5px 0px, 0 0 0 3px rgba($color-green, 0.25);
  }
  &.button--state-cta {
    background: $color-green !important;
    color: $color-white !important;
  }
}
.button.button--color-info {
  background: rgba($color-blue, 0.01) !important;
  color: $color-blue !important;
  box-shadow: rgba($color-blue, 0.16) 0px 0px 0px 1px,
    rgba($color-blue, 0.12) 0px 1px 1px 0px, rgba($color-blue, 0.12) 0px 2px 5px 0px;
  &:hover, &.button--state-hover {
    box-shadow: rgba($color-blue, 0.2) 0px 0px 0px 2px,
      rgba($color-blue, 0.2) 0px 2px 1px 0px, rgba($color-blue, 0.2) 0px 2px 5px 0px;
  }
  &:focus, &:active,
  &.button--state-focus, &.button--state-active {
    box-shadow: rgba($color-blue, 0.46) 0px 0px 0px 1px,
      rgba($color-blue, 0.42) 0px 1px 1px 0px,
      rgba($color-blue, 0.42) 0px 2px 5px 0px, 0 0 0 3px rgba($color-blue, 0.25);
  }
  &.button--state-cta {
    background: $color-blue !important;
    color: $color-white !important;
  }
}
.button.button--color-warning {
  background: rgba($color-orange, 0.01) !important;
  color: $color-orange !important;
  box-shadow: rgba($color-orange, 0.16) 0px 0px 0px 1px,
    rgba($color-orange, 0.12) 0px 1px 1px 0px, rgba($color-orange, 0.12) 0px 2px 5px 0px;
  &:hover, &.button--state-hover {
    box-shadow: rgba($color-orange, 0.2) 0px 0px 0px 2px,
      rgba($color-orange, 0.2) 0px 2px 1px 0px, rgba($color-orange, 0.2) 0px 2px 5px 0px;
  }
  &:focus, &:active,
  &.button--state-focus, &.button--state-active {
    box-shadow: rgba($color-orange, 0.46) 0px 0px 0px 1px,
      rgba($color-orange, 0.42) 0px 1px 1px 0px,
      rgba($color-orange, 0.42) 0px 2px 5px 0px, 0 0 0 3px rgba($color-orange, 0.25);
  }
  &.button--state-cta {
    background: $color-orange !important;
    color: $color-white !important;
  }
}

.button--type-icon {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
.button--type-back {
  display: inline-block;
  + h1, + h2 {
    display: inline-block;
    margin-top: 0;
    margin-left: 1rem;
  }
}
