@import "../colors";

.card {
  width: 100%;
  background-color: #fff;
  border-radius: 0.1rem;
  box-shadow: 0 7px 14px 0 rgba(60, 66, 87, 0.075),
    0 3px 6px 0 rgba($color-black, 0.035);
  &.card--type-padded {
    padding: 2rem;
  }
  &.card--type-invisible {
    background-color: transparent;
    box-shadow: none;
  }
}
