h1, .h1, .hero {
  font-size: 200%;
}
h2, .h2 {
  font-size: 150%;
}
h3, .h3 {
  font-size: 130%;
}
h4, .h4 {
  font-size: 115%;
}
h5, .h5 {
  font-size: 100%;
}
h6, .h6 {
  font-size: 90%;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: bold;
}

.hero {
  font-weight: 300;
}
.lead {
  font-size: 110%;
}

form,
div,
section,
table,
p,
input,
button,
nav {
  + h1,
  + h2,
  + h3,
  + h4,
  + h5,
  + h6 {
    margin-top: 2.5rem;
  }
}

