@import "colors";

::selection {
  background-color: rgba($color-primary, 0.15);
}

html {
  color: $text-color;
  background-color: $background-color;
}
@media (prefers-color-scheme: dark) {
  html {
    color: $dark-text-color;
    background-color: $dark-background-color;
  }
}

aside nav li {
  a {
    padding: 0.25rem 0;
    display: block;
    color: inherit;
    text-decoration: none;
  }
  > ul {
    padding-left: 0;
    a {
      padding-left: 1.25rem;
      border-left: 0.1rem solid #aaa;
    }
  }
}

.label-help {
  background-color: rgba($color-black, 0.5);
  display: inline-block;
  font-size: 85%;
  color: #fff;
  border-radius: 100%;
  font-weight: bold;
  width: 1rem !important;
  height: 1rem;
  line-height: 1rem;
  text-align: center;
  margin-top: -0.2rem;
  margin-left: 0.25rem;
  vertical-align: middle;
  &::after {
    font-weight: normal !important;
    font-size: 100% !important;
  }
  &:hover {
    text-decoration: none;
  }
}

@import "./components/a.scss";
@import "./components/code.scss";
@import "./components/button.scss";
@import "./components/table.scss";
@import "./components/card.scss";
